<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Kamehaus Rentals</title>

        <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{css/sb-admin.css}"/>

        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        <!-- Page level plugin CSS-->
        <link th:href="@{css/dataTables.bootstrap4.css}" rel="stylesheet">

        <script th:inline="javascript">
            /*<![CDATA[*/


            /*]]>*/
        </script>
    </head>

    <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <img th:src="@{uploads/kh.png}" style="width:64px;height:64px;">
        <a class="navbar-brand mr-1" href="">Kamehaus Rentals </a>



        <!-- Navbar -->

    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/indexUser">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Clientes</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/indexEquipos">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Equipos</span></a>
                <a class="nav-link" href="/indexFamilia">
                    <i class="fas fa-fw fa-plus"></i>
                    <span>Familias</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/indexAlquiler">
                    <i class="fas fa-fw fa-boxes"></i>
                    <span>Alquiler</span></a>
                <a class="nav-link" href="/indexEntrega">
                    <i class="fas fa-fw fa-receipt"></i>
                    <span>Entregas</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/historial">
                    <i class="fas fa-fw fa-history"></i>
                    <span>Historial</span></a>
            </li>

        </ul>

        <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Blank Page</li>
            </ol>

            <!-- Page Content -->
            <h1>Promedio</h1>
            <hr>
            <div id="chartContainer" style="height: 360px; width: 100%;"></div>
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Capsule Corp 2018</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
    <script th:inline="javascript" >
        var diasTotales = /*[[${diasTotales}]]*/ 'default';
        var tamano = /*[[${famDias.size()}]]*/ 'default';
        alert(tamano);
        /*<![CDATA[*/


        var famDias = /*[[${famDias}]]*/ null;


        /*]]>*/

        var average;
        var dps = [];
        var chart= new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title:{
                text: "Grafico Dias Alquilados"
            },
            axisY: {
                title: "Dias",
                stripLines: [
                    {
                        value : null,
                        label: "Promedio: "

                    }
                ]
            },axisX: {
                title: "Familia"
            },
            data: [{
                type: "column",
                dataPoints : famDias
            }]

        });

        var i = 0;



        var sum = 0;
        var length = chart.options.data[0].dataPoints.length;
        for( var i = 0; i < length; i++ )
            sum += chart.options.data[0].dataPoints[i].y;
        average = sum / length;


        chart.options.axisY.stripLines[0].value = average;
        chart.options.axisY.stripLines[0].label += average.toPrecision(3);

        chart.render();
    </script>

<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{js/jquery.easing.min.js}"></script>


<!-- Custom scripts for all pages-->
<script th:src="@{js/sb-admin.min.js}"></script>

</body>

</html>
