<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kamehaus Rentals</title>

    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/sb-admin.css}"/>

    <!-- Page level plugin CSS-->
    <link th:href="@{css/dataTables.bootstrap4.css}" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <img th:src="@{uploads/kh.png}" style="width:64px;height:64px;">
    <a class="navbar-brand mr-1" href="">Kamehaus Rentals </a>



    <!-- Navbar -->

</nav>

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <img th:src="@{uploads/kh.png}" style="width:64px;height:64px;">
    <a class="navbar-brand mr-1" href="">Kamehaus Rentals</a>
    <br>


    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a id="es"> <img th:src="@{uploads/do.png}"></a>
            </li>
            <li class="nav-item">
                <a id="en"><img th:src="@{uploads/us.png}"></a>
            </li>
        </ul>
    </div>

    <!-- Navbar -->

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/indexUser">
                <i class="fas fa-fw fa-user"></i>
                <span th:text="#{cliente}"></span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/indexEquipos">
                <i class="fas fa-fw fa-wrench"></i>
                <span th:text="#{equipo}"></span></a>
            <a class="nav-link" href="/indexFamilia">
                <i class="fas fa-fw fa-plus"></i>
                <span th:text="#{familia}"></span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/indexAlquiler">
                <i class="fas fa-fw fa-boxes"></i>
                <span th:text="#{alquiler}">Alquiler</span></a>
            <a class="nav-link" href="/indexEntrega">
                <i class="fas fa-fw fa-receipt"></i>
                <span th:text="#{entrega}"></span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/historial">
                <i class="fas fa-fw fa-history"></i>
                <span th:text="#{historial}"></span></a>
        </li>

    </ul>


    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" th:text="#{historial}">Blank Page</li>
            </ol>

            <!-- Page Content -->
            <h1>Historial</h1>
            <hr>
            <div class="container">
                <h3 th:text="#{cli}">Cliente:</h3>
                <form class="form-group" th:action="@{/historial}" method="POST">

                    <div>
                        <div class="input-group">
                            <select class="form-control" th:name="selectClient">
                                <option>...</option>
                                <th:block th:each="client : ${clientes}">
                                    <option th:value="${client.id}" th:text="${client.name}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="fa-pull-left">
                        <input type="submit" th:value="#{buscar}" class="form-control" />
                    </div>
                </form>
            </div>

            <div class="container">
                <table class="table table-sm">
                    <tr>
                        <th th:text="#{fecha}">Fecha Registrada</th>
                        <th th:text="#{fechaEntrega}">Fecha de Entrega</th>
                        <th th:text="#{dias}">Dias</th>
                        <th th:text="#{equipo}">Equipos</th>
                    </tr>
                    <th:block th:each="alquiler : ${rentals}">

                        <tr>
                            <td th:text="${alquiler.date}">...</td>
                            <td th:text="${alquiler.deliveryDate}">...</td>
                            <td th:text="${alquiler.diasRent}">...</td>
                            <td>
                                <dl>
                                    <th:block th:each="equip : ${alquiler.equipRental}">

                                        <dd th:text="${equip.equip.name} + ' - '+${equip.cantidadRentada} +' Stock'"> </dd>

                                    </th:block>
                                </dl>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Capsule Corp 2018</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{js/jquery.easing.min.js}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#es").click(function () {
            var selectedOption = $(this).attr('id');
            window.location.replace('historial?lang=' + selectedOption);

        });
        $("#en").click(function () {
            var selectedOption = $(this).attr('id');
            window.location.replace('historial?lang=' + selectedOption);

        });
    });
</script>

<!-- Custom scripts for all pages-->
<script th:src="@{js/sb-admin.min.js}"></script>

</body>

</html>
